[Unit]
Description=Verifica a politica do qbit-autodelete a cada 30 minutos

[Timer]
OnCalendar=*:0/30
Persistent=true
AccuracySec=1m
RandomizedDelaySec=2m
Unit=qbit-autodelete.service

[Install]
WantedBy=timers.target
